.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.search-container {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8); /* Lighten the background */
  padding: 6px;
  border: none; /* Remove border */
  border-radius: 4px; /* Optional: Add rounded corners */
  display: flex;
  gap: 4px;
  z-index: 1000;
}

.search-input {
  padding: 4px 8px;
  font-size: 14px;
}

.search-btn {
  padding: 4px 8px;
  cursor: pointer;
}

.circle-overlay {
  stroke: none; /* Remove border */
  fill: lightblue; /* Fill color */
  fill-opacity: 0.3; /* Lighten the fill opacity */
}